@mixin input() {
    width: 100%;
    padding: 1rem;
    font-size: 1em;
    margin-top: .5rem;
    border-radius:.5rem ;
    outline: none;
    background: #F7FAFC;
    border: 1px solid #cddfeb;
}

.create-job-section{
    display: flex;
    flex-direction: column;
    padding: 1rem ;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;

    h3 {
        font-size: .95em;
        font-weight: 500;
    }
    
    .create-header{
        h1{
            margin-bottom: 1rem;
        }
        p{
            color: #4A789C;
        }
    }

    .job-input{
        margin-top: 4rem;
        .title{
            margin-bottom: 2rem;
            ::placeholder{
                color: #4A789C;
            }
            
            input[type="text"]{
                @include input;
            }
        }

        .description{
            margin-top: 2rem;
            
            ::placeholder{
                font-size: 1.2em;
                color: #4A789C;
            }
            textarea{
                width: 100%;
                font-size: 1em;
                resize: vertical;
                min-height: 100px;
                max-height: 200px;

                @include input;
            }
        }
        .payment{
            margin-top: 2rem;

            ::placeholder{
            color: #4A789C;
            }
            input{
                @include input;
            }
        }
        .start-date{
            margin-top: 2rem;
            input{
                @include input;
            }
            .start{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        } 
        .end-date{
            margin-top: 2rem;
            input{
                @include input;
            }
            .end{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
         .duration{
            margin-top: 2rem;
            ::placeholder{
                color: #4A789C;
            }
            input{
                @include input;
            }
        } 
        .location{
            margin-top: 2rem;
            ::placeholder{
                color: #4A789C;
            }
            select{
                width: 100%;
                padding: 1rem;
                margin-top: .5rem;
                font-size: 1em;
                border: 1px solid #000;
                border-radius:.5rem ;

                @include input;
            }
        }
        .post-job{
            margin-top: 2rem;
            button{
                width: 100%;
                padding: 1rem 2rem;
                background-color: #0286EC;
                color: #fff;
                border: none;
                border-radius:.5rem;
                cursor: pointer;
            }
        }

    }

}