.jobs-page {

    .jobs-page-content {
        max-width: 800px;
        margin: 2rem auto;
    }

    .top-bar {
        gap: 1rem;
        display: grid;
        padding: 0 1rem;

        h1 {
            font-size: clamp(2rem, 5vw, 2.5rem);
        }

        p {
            color: #555;
        }

        .input-area {
            input {
                width: 100%;
                outline: none;
                padding: 1rem;
                font-size: 1em;
                border-radius: .5rem;
                border: 1px solid #999;
            }
        }

        .tags {
            gap: .5rem;
            display: flex;
            overflow: hidden;
            align-items: center;

            button {
                border: none;
                padding: .8rem;
                border-radius: .7rem;
                white-space: nowrap;

                &:nth-child(1) {
                    color: #fff;
                    background: #0286EC;
                }
            }
        }
    }


    .jobs-list {
        gap: 1rem;
        padding: 1rem;
        display: grid;

        .job {
            display: flex;
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid #ddd;
        
            .content {
                h3 {
                    color: #999;
                    font-weight: 500;
                    font-size: .9em;
                }

                h1 {
                    font-size: clamp(1.2em, 5vw, 1.5em);
                }

                p {
                    color: #555;
                    margin: .5rem 0;
                }

                button {
                    border: none;
                    cursor: pointer;
                    padding: .7rem 1rem;
                    border-radius: .5rem;
                }
            }
        }
    }
}