.users-dashboard {

    .top-bar {
        gap: 1rem;
        display: flex;
        padding: 1rem;
        margin: 0 auto;
        max-width: 900px;
        align-items: center;

        button {
            border: none;
            padding: 1rem;
            cursor: pointer;
            font-size: 1rem;
            background: none;

            &.active {
                color: #0286EC;
                font-weight: 600;
                border-bottom: 0.2rem solid #0286EC;
            }
        }
    }

    .user-info-container {
        padding: 1.5rem;
        max-width: 900px;
        margin: 0 auto;

        section:nth-child(1) {
            gap: 1rem;
            display: grid;
            margin-bottom: 2rem;

            .profile-image {
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-image: url(/profile.jpg);
            }

            .user-info {
                h4 {
                    color: #999;
                    font-weight: 500;
                }

                .reports {
                    gap: 1rem;
                    display: flex;
                    margin: 1rem 0;
                    align-items: center;

                    h3 {
                        gap: .5rem;
                        display: flex;
                        font-size: 1em;
                        align-items: center;

                        &:nth-child(1) svg { color: #0286EC; }
                        &:nth-child(2) svg { color: #0f0; }
                    }
                }

                .buttons {
                    gap: .5rem;
                    display: flex;
                    align-items: center;

                    button {
                        border: none;
                        cursor: pointer;
                        padding: .7rem 1rem;
                        border-radius: 0.5rem;

                        &:nth-child(1) {
                            color: #fff;
                            background: #0286EC;
                        }
                    }
                }
            }
        }
    

        section:nth-child(2) {
            gap: 2rem;
            display: grid;

            .section {
                gap: 1rem;
                display: grid;
            }

            .about-section {
                padding: 1rem;
                border: 1px solid #ddd;

                .about-writer {
                    gap: 1rem;
                    width: 100%;
                    padding: 2rem;
                    display: grid;
                    background: #fff;
                    max-width: 500px;
                    border-radius: 1rem;

                    .head {
                        display: flex;
                        justify-content: flex-end;

                        svg {
                            cursor: pointer;
                        }
                    }

                    textarea {
                        padding: 1rem;
                        font-size: 1rem;
                        min-height: 100px;
                        max-height: 150px;
                        resize: vertical;
                        outline: none;
                        border-radius: 1rem;
                        border: 1px solid #ddd;
                    }

                    button {
                        color: #fff;
                        border: none;
                        font-size: 1rem;
                        cursor: pointer;
                        width: fit-content;
                        background: #0286EC;
                        padding: 1rem 1.5rem;
                        border-radius: 0.5rem;
                    }
                }

                .header-bar {
                    display: flex;
                    padding: 0 0 1rem 0;
                    align-items: center;
                    justify-content: space-between !important;
                    border-bottom: 1px solid #ddd;

                    h1 {
                        font-size: 1.3em;
                    }
                
                    button {
                        gap: .5rem;
                        display: flex;
                        font-size: 1em;
                        background: none;
                        border: none;
                        cursor: pointer;
                        justify-content: center;
                    }
                }

                p {
                    color: #555;
                }
            }

            .skill-section {
                .skill-grid {
                    gap: .5rem;
                    display: flex;

                    p {
                        padding: 1rem;
                        font-size: .9em;
                        border-radius: 1rem;
                        background: #F0F2F5;
                    }
                }
            }


            .work-history-section {
                .work-history-grid {
                    gap: 1rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                    .work-history-skeleton {
                        height: 190px;
                        display: flex;
                        align-items: center;
                        border: 1px solid #ddd;
                        justify-content: center;
                        flex-direction: column;
                        border-radius: .5rem;

                        p {
                            color: #555;
                            margin: 1rem 0;
                            font-size: 0.9em;
                            max-width: 300px;
                            text-align: center;
                        }

                        button {
                            border: none;
                            padding: 1rem;
                            cursor: pointer;
                            border-radius: .5rem;
                        }
                    }

                    .work-history {
                        gap: .5rem;
                        padding: 1rem;
                        display: grid;
                        border-radius: .5rem;
                        border: 1px solid #ddd;

                        h4 {
                            color: #999;
                            font-weight: 500;
                        }

                        h1 {
                            font-size: clamp(1.1em, 5vw, 1.3em);
                        }

                        p {
                            color: #555;
                            margin: .5rem 0;
                        }

                        button {
                            border: none;
                            cursor: pointer;
                            width: fit-content;
                            border-radius: .5rem;
                            padding: .7rem 1rem;
                        }
                    }
                }
            }



            .testimonial-section {
                .testimonial-grid {
                    gap: 1rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                    .testimony-skeleton {
                        height: 190px;
                        display: flex;
                        align-items: center;
                        border: 1px solid #ddd;
                        justify-content: center;
                        flex-direction: column;
                        border-radius: .5rem;

                        p {
                            color: #555;
                            margin: 1rem 0;
                            font-size: 0.9em;
                            max-width: 300px;
                            text-align: center;
                        }

                        button {
                            border: none;
                            cursor: pointer;
                            width: fit-content;
                            border-radius: .5rem;
                            padding: .7rem 1rem;
                        }

                    }

                    .testimony {
                        padding: 1.5rem;
                        border-radius: 1rem;
                        box-shadow: 0 .3rem 1rem #eee;

                        svg {
                            color: #999;
                        }

                        p {
                            color: #555;
                            margin: 1rem 0;
                        }


                    }
                }
            }


        }


        .review-section {
            .nav-bar {
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    border: none;
                    font-size: .9em;
                    cursor: pointer;
                    border-radius: .5rem;
                    padding: .8rem 1.3rem;
                }
            }

            .review-list {
                gap: 2rem;
                display: grid;
                margin-top: 2rem;
            }

            .review {
                gap: 1rem;
                display: flex;

                .profile {
                    height: 3rem;
                    min-width: 3rem;
                    border-radius: 50%;
                    background: #ff0053;
                }

                .info {


                    h5 {
                        color: #555;
                        font-size: 1.1em;
                        font-weight: 500;
                    }

                    p {
                        color: #555;
                        margin-top: 1rem;
                    }
                }
            }


            .review-input-box {
                gap: .5rem;
                width: 100%;
                padding: 2rem;
                display: grid;
                max-width: 500px;
                background: #fff;
                border-radius: 1rem;

                .head {
                    display: flex;
                    justify-content: flex-end;

                    svg {
                        width: 1.6rem;
                        height: 1.6rem;
                        cursor: pointer;
                    }
                }

                textarea {
                    padding: 1rem;
                    height: 150px;
                    outline: none;
                    font-size: 1rem;
                    resize: vertical;
                    max-height: 200px;
                    min-height: 100px;
                    border-radius: .7rem;
                    border: 1px solid #ddd;
                }

                button {
                    color: #fff;
                    border: none;
                    font-size: 1em;
                    width: fit-content;
                    background: #0286EC;
                    padding: 1rem 1.5rem;
                    border-radius: 0.5rem;
                }

            }
        }

    }

}