*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1280px;
    margin: auto;

    .logo{
        cursor: pointer;
    }

    .navbar-buttons{
        gap: 1rem;
        display: none;
        font-weight: bold;

        button {
            color: #fff;
            border: none;
            padding: 1rem;
            cursor: pointer;
            border-radius: .5rem;
            background: none;

            &:nth-child(1) { background: #0286EC; }
            &:nth-child(2) { color: #000; background: #f2f2f2; }
        }
       

    }
}

.content-container{
    max-width: 1200px;
    margin: auto;

    .center{
        display: flex;

    }

}

