*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1280px;
    margin: auto;

    .logo{
        cursor: pointer;
    }

    .navbar-buttons{
        gap: .5rem;
        display: flex;
        font-weight: bold;
        align-items: center; 

        :nth-child(1){
            color: #fff;
            background: #2194F2 ;
        }

        button{
            border: none;
            padding: 1rem;
            cursor: pointer;
            border-radius: .8rem;
            padding: .8rem 1rem;
            transition: background-color 0.3s ease;
            font-size: .9em;
        }
       
    }


    .authorized-user-section {
        gap: 2rem;
        display: flex;
        align-items: center;

        ul {
            gap: 1rem;
            display: flex;
            margin-right: 1rem;
            align-items: center;

            li {
                color: #555;
                font-size: .95em;
                list-style: none;
                cursor: pointer;
            
                a {
                    color: #555;
                    padding: .5rem;
                    text-decoration: none;
                }

                &:hover {
                    color: #000;
                }
            }
        }

        svg {
            cursor: pointer;
        }
    }
}

.content-container{
    max-width: 1200px;
    margin: auto;

    .center{
        display: flex;

    }

}

